<div id="aside" class="box" ng-controller="MenuCtrl as mc">
    <!-- /padding -->
    <ul class="box">
        <li id="{{menu1}}" ><a href="{{mc.home.links.url}}">Trang chủ</a></li>
        <li id="{{menu2}}" ><a href="{{mc.sinhvien.links.url}}">Quản lý sinh viên</a></li>
        <li id="{{menu3}}" ><a href="{{mc.giaovien.links.url}}">Quản lý giáo viên</a></li>
        <li id="{{menu4}}" ><a href="{{mc.listluanvan.links.url}}">Quản lý luận văn</a></li>
        <!--<li id="{{menu5}}" ><a href="{{mc.signup.links.url}}">Tao moi user</a></li>-->
    </ul>
</div>