<div class="row" ng-controller="UserDetailCtrl as udc">
    <div id="light" class="white_content"><a style="float: right" ng-click ="udc.resetError()" href = "javascript:void(0)" onclick = "hideOverlay()">Close</a>
        <p ng-show="udc.userCreated" style="color:blue">Tạo mới sinh viên thành công!</p>
        <p ng-show="!udc.userCreated" style="color:red">Lỗi tạo mới sinh viên</p>
        <p ng-show="udc.accountCreated" style="color:blue">Tạo account cho sinh viên thành công!</p>
        <p ng-show="!udc.accountCreated" style="color:red">Lỗi tạo mới account cho sinh viên</p>
    </div>
    <div id="fade" class="black_overlay"></div>
    <div >
        <h1 ng-hide="!udc.doUpdate">User Detail</h1>
        <h1 ng-hide="udc.doUpdate">Create User</h1>



        <form id="UpdateUserForm" name="UpdateUserForm" class="form-horizontal" role="form"
        ng-submit="udc.doUpdate ? udc.updateUser() : udc.createUser()">


            <label id="lbl_title" for="title" class=""><a ng-href="#/students"  class="btn btn-danger" style="display: inline; float: left">Back</a></label>
            <h2 id="title" style="display: inline-block">Basic Information</h2>

            <br/>
            <label id="lbl_mssv" for="mssv" class="col-sm-4 control-label">Mã số sinh viên</label>
            <input type="text" class="form-control" name="mssv" id="mssv" placeholder="mssv"
            ng-model="udc.user.mssv" mssv-unique="mssv" required>
            <div ng-hide="udc.initmssv == udc.user.mssv" style="display: inline"> <small class="error" ng-show="UpdateUserForm.mssv.$error.unique">Mssv đã được sử dụng</small></div>


            <br/><br/>
            <label id="lbl_name" for="name" class="col-sm-4 control-label">Họ và tên</label>
            <input type="text" class="form-control" name="name" id="name" placeholder=""
            ng-model="udc.user.name" >


            <br/><br/>
            <label id="lbl_email" for="email" class="col-sm-4 control-label">Email</label>
            <input type="text" class="form-control" name="email" id="email" placeholder=""
            ng-model="udc.user.email" email-unique="email" required>
            <div ng-hide="udc.initemail == udc.user.email" style="display: inline"><small class="error" ng-show="UpdateUserForm.email.$error.unique">Email đã được sử dụng</small></div>


            <br/><br/>
            <label id="lbl_nganh" for="nganh" class="col-sm-4 control-label">Ngành</label>
            <select class="form-control" id="nganh" name="nganh" ng-model="udc.user.nganh">
                <option class="blank" value="">Please select a value</option>
                <option value="CNTT">CNTT</option>
                <option value="CNTT">DTVT</option>
            </select>


            <br/><br/>
            <label id="lbl_khoa" for="khoa" class="col-sm-4 control-label">Lớp</label>
            <select class="form-control" id="khoa" name="khoa" ng-model="udc.user.khoa">
                <option class="blank" value="">Please select a value</option>
                <option value="K56">K56</option>
                <option value="K57">K57</option>
            </select>


            <br/><br/>
            <div ng-hide="!udc.doUpdate">
                <label id="lbl_active" for="active" class="col-sm-4 control-label">Active</label>
                <div class="col-sm-8">
                    <input type="checkbox" name="active" id="active" ng-model="udc.user.active">
                </div>
            </div>

            <br/>
            <label id="lbl_button" for="btn_delete" class="col-sm-4 control-label"></label>
            <div ng-hide="!udc.doUpdate" style="display: inline"><a ng-click="udc.deleteUser(udc.user._id.$oid)" confirm-click ng-href="#/students" id="btn_delete" class="btn btn-danger">Delete</a></div>
            <button type="submit" class="btn btn-success"   ng-hide="udc.doUpdate">Save</button>
            <button type="submit" class="btn btn-success"   ng-hide="!udc.doUpdate">Update</button>
            <br/><br/>
            <hr>
            <pre>{{ udc.user | json }}</pre>
        </form>

    </div>

</div>

