<div class="row" ng-controller="DangKyCtrl as dkc">

    <div id="light" class="white_content"><a style="float: right" ng-click ="dkc.resetError()" href = "javascript:void(0)" onclick = "hideOverlay()">Close</a>
        <div style="position:absolute; bottom:0;">
            <a ng-href="#/teachers"  class="btn">Danh sách</a>
            <a class="btn" ng-click ="dkc.resetError()" href = "javascript:void(0)" onclick = "hideOverlay()">Tắt</a>
        </div>
    </div>
    <div id="fade" class="black_overlay"></div>

    <div style="" >
        <h1>Đăng ký luận văn</h1>

        <form id="lvForm" name="lvForm" class="form-horizontal" role="form"">
            <label id="lbl_title" for="title" class=""></label>
            <h2 id="title" style="display: inline-block">&nbsp;</h2>

            <br/>
            <label id="lbl_gvhd" for="gvhd" class="col-sm-4 control-label">Giáo viên hướng dẫn:</label>
            <h3 style="display: table-cell" id="gvhd" name="gvhd"><i><cite>{{dkc.teacher.ten}}</cite></i></h3>

            <br/><br/>
            <label id="lbl_ma" for="ma" class="col-sm-4 control-label">Mã luận văn:</label>
            <input type="text" id="ma" name="ma" class="form-control" ng-model="dkc.lv.ma" autofocus/>

            <br/><br/>
            <label id="lbl_ten" for="ten" class="col-sm-4 control-label">Tên luận văn:</label>
            <input type="text" id="ten" name="ten" class="form-control" ng-model="dkc.lv.ten" placeholder=""/>

            <br/><br/>
            <label id="lbl_gioithieu" for="gioithieu" class="col-sm-4 control-label">Giới thiệu:</label>
            <textarea rows="4" cols="50" id="gioithieu" name="gioithieu" ng-model="dkc.lv.gioithieu"></textarea>

            <br/><br/>
            <label id="lbl_tailieu" for="tailieu" class="col-sm-4 control-label">Tại liệu:</label>
            <input id="tailieu" type="file" file-model="dkc.myFile">
            {{myFile  }}
            <br/><br/>
            <label id="lbl_button" for="button" class="col-sm-4 control-label"></label>
            <button type="submit" class="btn " id="button" ng-click="dkc.submit()">Đăng ký</button>
        </form>
    </div>
</div>



