<div id="aside" class="box" ng-controller="MenuCtrl as mc">
    <!-- /padding -->
    <ul class="box">
        <li id="{{menu1}}" ><a href="{{mc.home.links.url}}">Trang chủ</a></li>
        <li id="{{menu2}}" ><a href="{{mc.giaovien.links.url}}">Danh sách giáo viên</a></li>
        <li id="{{menu3}}" ><a href ="{{mc.luanvan.links.url}}">Quản lý luận văn</a></li>
        <li id="{{menu4}}" ><a href ="{{mc.detail.links.url}}">Thông tin cá nhân</a></li>
        <li id="{{menu5}}" ><a href ="{{mc.resetpassword.links.url}}">Đặt lại mật khẩu</a></li>
    </ul>
</div>