<div class="row" ng-controller="ListLuanvanCtrl as llc">

<div class="row">
        <div class="form-group">
            <h1>Danh sách luận văn</h1>
        </div>
        <div class="form-group">
            <br/><br/>
            <br/><br/>
            <div class="row text-center">
                <button type="button" ng-click="llc.pagePrev()" ng-disabled="llc.currentPage <= 1">&nbsp;&larr;&nbsp;</button>
                {{llc.currentPage}}/{{1>llc.bigTotalItems?1:llc.bigTotalItems}}
                <button type="button" ng-click="llc.pageNext()" ng-disabled="llc.currentPage >= llc.bigTotalItems">&nbsp;&rarr;&nbsp;</button>
                &nbsp;&nbsp;&nbsp;
                <input  type="text" ng-model="llc.preMalv" placeholder="Tìm theo mã luận văn ..." ng-keyup="$event.keyCode == 13 && llc.search()">
                &nbsp;&nbsp;
                <input  type="text" ng-model="llc.preSinhvien" placeholder="Tìm theo tên sinh viên ..." ng-keyup="$event.keyCode == 13 && llc.search()">
                &nbsp;&nbsp;
                <input  type="text" ng-model="llc.preGiaovien" placeholder="Tìm theo tên giáo viên ..." ng-keyup="$event.keyCode == 13 && llc.search()">
                &nbsp;&nbsp;
                <input  type="text" ng-model="llc.preSearchText" placeholder="Tìm theo tên luận văn ..." ng-keyup="$event.keyCode == 13 && llc.search()">
                <select ng-model="llc.preTrangthai" ng-change="llc.search()">
                    <option value="">Tất cả</option>
                    <option value="true">Đã chấp nhận</option>
                    <option value="false">Chưa chấp nhận</option>
                    <option value="chuaxuly">Chưa xử lý</option>
                </select>
                &nbsp;&nbsp;
                <button type="button" ng-click="llc.clear()">&nbsp;&nbsp;Xóa bộ lọc&nbsp;&nbsp;</button>
            </div>
        </div>

        <table id="teacher_list" class="table table-striped">
            <thead>
            <tr>
                <th style="width: 9%">Mã</th>
                <th style="width: 15%">Tên sinh viên</th>
                <th style="width: 15%">Tên giáo viên</th>
                <th style="width: 25%">Tên đề tài</th>
                <th style="width: 10%">File đính kèm</th>
                <th style="width: 8%">Thông tin</th>
                <th style="width: 15%">Tác vụ</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="lv in llc.luanvan | filter:searchText">
                <td>
                    {{ lv.ma }}
                </td>
                <td>
                   {{ lv.sinhvien }}
                </td>
                <td>
                    {{ lv.giaovien }}
                </td>
                <td>
                    {{ lv.ten }}
                </td>
                <td>
                    <!--<a href="http://quanly2.herokuapp.com/api/fileupload/thumb/{{lv.fileID}}">Download</a>-->
                    <a href="http://localhost:9000/api/fileupload/thumb/{{lv.fileID}}">Download</a>
                </td>
                <td>
                    <a ng-href="/admin#/listluanvan/{{lv.sinhvienID}}" id="btn_teacherAm_detail">Chi tiết</a>
                </td>

                <td>
                    <div style="margin: 0; padding: 0" ng-hide="lv.chapnhan != undefined">
                        <a ng-click="llc.chapnhan(lv.ma)" confirm-click="Chấp nhận?" ng-href="/admin#/listluanvan">Chấp nhận</a>
                        &nbsp;|&nbsp;
                        <a ng-click="llc.huybo(lv.ma)" confirm-click="Không chấp nhận?" ng-href="/admin#/listluanvan">Hủy</a>
                    </div>
                    <a style="color: #009934"  ng-show="lv.chapnhan != undefined">{{lv.chapnhan? "Đã chấp nhân": ""}}</a>
                    <a style="color: #991d00" ng-show="lv.chapnhan != undefined">{{!lv.chapnhan? "Không chấp nhận": ""}}</a>
                </td>

            </tr>

            </tbody>

        </table>
        <div ng-hide="llc.luanvan.length || llc.loading">
            <p class="text-center">Không tìm thấy luận văn</p>
        </div>
        <div ng-show="llc.loading">
            <img height="30" width="30" src="/assets/images/ajax-loader.gif" />
        </div>

    </div>

</div>
