.btn, .btn:visited, a.btn, a.btn:visited {
    color: #444;
    padding: 4px 16px;
    box-shadow: 0 1px 1px #fff inset;
    border-radius: 3px;
    border: 1px solid #cbd2d9;
    display: inline-block;
    cursor: pointer;
    background-color: #f2f2f2;
    background-image: linear-gradient(to top, rgb(223,228,232) 0%, rgb(243,245,247) 100%);

    margin: 5px;

}

.btn:hover, a.btn:hover {
    background-color: #e5e5e5;
    background-image: linear-gradient(to top, rgb(233,236,239) 0%, rgb(253,253,254) 100%);
}

.btn:active, a.btn:active {
    color: #222;
    background-image: linear-gradient(to top, rgb(233,236,239) 0%, rgb(253,253,254) 100%);
    box-shadow: 0px 1px 5px rgba(0,0,0,.15) inset;
}





.blue-btn, .blue-btn:visited, a.blue-btn, a.blue-btn:visited {
    color: #fff;
    box-shadow: 0 1px 1px #65a6ff inset;
    border: 1px solid #15488b;
    background-color: #3671c4;
    background-image: linear-gradient(to top, rgb(30,80,140) 0%, rgb(45,123,204) 100%);
}

.blue-btn:hover, a.blue-btn:hover {

    background-color: #2960ad;
    background-image: linear-gradient(to top, rgb(27,72,126) 0%, rgb(45,123,204) 100%);
}

.blue-btn:active, a.blue-btn:active {
    color: #fff;
    background-image: linear-gradient(to top, rgb(27,72,126) 0%, rgb(45,123,204) 100%);
    box-shadow: 0px 1px 5px rgba(0,0,0,.4) inset;
}






.green-btn, .green-btn:visited, a.green-btn, a.green-btn:visited
{
    color: #fff;
    box-shadow: 0 1px 1px #8de578 inset;
    border: 1px solid #00793d;
    background-color: #00984d;
    background-image: linear-gradient(to top, rgb(72,158,50) 0%, rgb(106,204,73) 100%);
}

.green-btn:hover, a.green-btn:hover {

    background-color: #017f41;
    background-image: linear-gradient(to top, rgb(60,132,42) 0%, rgb(87,190,53) 100%);
}

.green-btn:active, a.green-btn:active {
    color: #fff;
    background-image: linear-gradient(to top, rgb(60,132,42) 0%, rgb(87,190,53) 100%);
    box-shadow: 0px 1px 5px rgba(0,0,0,.3) inset;
}



.btn.disabled, .btn.disabled:hover, .btn.disabled:active {

    background-color: #e5e5e5;
    background-image: none;
    color: #8890a2;
    opacity: .6;
    filter: alpha(opacity=60);
    cursor: default;
    box-shadow: none;

}


.blue-btn.disabled, .blue-btn.disabled:hover, .blue-btn.disabled:active {

    background-color: #2960ad;
    color: #fff;

}