.caveat {
    color: #5ea9f5;
}
p {
    font-family: Cambria,Georgia,"Times New Roman",Times,serif;
    font-style: italic;
}
form label {
    font-family: Cambria, Georgia, Times,Times New Roman;
    float: left;
    width: 200px;
    font-size: 13px;
    display: table-cell;
    margin: 0.2em 1em 0.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.6;
    color: #666;
    text-align: right;
}
form input[type="text"],
form input[type="tel"],
form input[type="url"],
form input[type="email"],
form input[type="number"],
form input[type="password"],
form textarea,
form select {
    font-family: Cambria, Georgia, "Times New Roman", Times, serif;
    padding: 0.6em 0.8em;
    color: #bfbfbf;
    background: #f7f7f7;
    font-size: 13px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #e1e1e1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-style: italic;
    -webkit-appearance: none;
    width: 213px;
}
form select {
    width: 235px;
}
form input[type="text"]:focus,
form input[type="tel"]:focus,
form input[type="url"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form textarea:focus,
form select:focus {
    color: #808080;
    border: 1px solid #5ea9f5;
    outline: none;
    background: #f2f2f2;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.btn-blue {
    background: #5ea9f5;
    display: inline-block;
    padding: 0.2em 0.7em 0.45em;
    color: #ffffff;
    border: 1px solid #757575;
    font-size: 16px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
    font-family: Cambria, Georgia, Times,Times New Roman;
    -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    font-style: italic;
}
.btn-blue:hover {
    background: #76b6f6;
    -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2), 0 1px 6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2), 0 1px 6px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2), 0 1px 6px rgba(0, 0, 0, 0.6);
    color: #ffffff;
}