<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <title>Trang quản lý</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" media="screen,projection" type="text/css" href='@routes.Assets.at("css/reset.css")' />
    <link rel="stylesheet" media="screen,projection" type="text/css" href='@routes.Assets.at("css/main.css")' />
    <link rel="alternate stylesheet" media="screen,projection" type="text/css" href='@routes.Assets.at("css/1col.css")' id="1col" disabled />
    <link rel="stylesheet" media="screen,projection" type="text/css" href='@routes.Assets.at("css/2col.css")' id="2col"/>
    <link rel="stylesheet" media="screen,projection" type="text/css" href='@routes.Assets.at("css/style.css")' />
    <link rel="stylesheet" media="screen,projection" type="text/css" href='@routes.Assets.at("css/add.css")' />
    <link rel="stylesheet" media="screen,projection" type="text/css" href='@routes.Assets.at("css/buttons.css")' />
    <link rel="stylesheet" media="screen,projection" type="text/css" href='@routes.Assets.at("css/form.css")' />
    @*<link rel="stylesheet" media="screen,projection" type="text/css" href='@routes.Assets.at("css/overlay.css")' />*@
</head>
<body ng-controller="MainCtrl as mc">



    <!-- Fixed navbar -->
    <div id="main">
            <!-- nav bar -->
        <div id="tray" class="box">
            <p class="f-left box">
                    <!-- Switcher -->
                <span class="f-left" id="switcher"  onclick="toggle()">
                         <img id="menu-hide" style="cursor:pointer" src='@routes.Assets.at("design/switcher-1col.gif")' alt="Menu" />
                        <img id="menu-show" style="display : none; cursor:pointer;"  src='@routes.Assets.at("design/switcher-2col.gif")' alt="Menu" />
                </span>
                <span style="color : ghostwhite;"><b>PORTAL GIÁO VIÊN</b></span>
            </p>
            <p class="f-right" ng-hide="security.isAuthorized"><strong><a ng-href="@routes.Application.login()">Sign In</a></strong></p>
            <p class="f-right"  ng-hide="!security.isAuthorized">User: <strong><a href="#" >{{email}}</a></strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong><a href="@routes.Auth.signout2()" id="logout" >Log out</a></strong></p>

        </div>

            <!-- container -->
            <!--  /tray -->
        <hr class="noscreen" />
            <!-- Menu -->
            <!-- /header -->
        <hr class="noscreen" />
            <!-- Columns -->
        <div id="cols" class="box" >
                <!-- Aside (Left Column) -->
            <div  ng-include="'/assets/teacher/menu/menu.html'"></div>
                <!-- /aside -->
            <div id="content" class="box">
                <div ng-view></div>
            </div>
                <!-- /content -->
        </div>
            <!-- /cols -->
        <hr class="noscreen" />
            <!-- Footer -->
        <div id="footer" class="box">
            <p class="f-left">&copy; Nhóm 5 Công nghệ phần mêm 2015 &reg;</p>
            <p class="f-right"></p>
        </div>
            <!-- /footer -->
    </div>


    @*<script type="text/javascript" src='@routes.Assets.at("bower_components/angular/angular.min.js")'></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    @*<script type="text/javascript" src='@routes.Assets.at("bower_components/angular-cookies/angular-cookies.min.js")'></script>*@
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-cookies.min.js"></script>
    @*<script type="text/javascript" src='@routes.Assets.at("bower_components/angular-route/angular-route.min.js")'></script>*@
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
        <!-- Coffee script compilled resources-->

    <script src='@routes.Assets.at("javascripts/teacher/toggle_aside.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/teacher/app.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/teacher/upload.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/teacher/common/Config.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/teacher/directives/AppVersion.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/teacher/directives/ConfirmClick.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/teacher/services/security.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/teacher/teachers/TeacherService.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/teacher/teachers/TeacherInfoCtrl.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/teacher/acount/Account.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/teacher/teachers/TeacherCtrl.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/teacher/menu/MenuCtrl.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/teacher/teachers/TeacherDetailCtrl.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/teacher/users/UserDetailCtrl.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/teacher/users/UserService.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/teacher/otherteachers/OtherTeacherDetailCtrl.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/teacher/otherteachers/OtherTeacherService.js")' type="text/javascript"></script>


</body>
</html>
